img{
    width: 600px;
}
body{
    background-color: bisque;

}
div{
    text-align: justify;
    width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: verdana;
    color: rgb(8, 2, 17);
    
}
 h2, h3 {
    text-align: center;
    font-family: Arial;
    color: rgb(8, 2, 17);
    font-size: 28px;
 }

p{
    font-family: Verdana;
    color: rgb(34, 5, 104);
    font-style: italic;
    font-weight: bold;
    line-height: 40px;
    font-size: 14px;
    margin: 20px auto;
    padding: 20px 12px;
}

a{
    text-decoration: none;
    font-weight: bold;

}
